{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido a mi primera página</title>
</head>
<body>
    <h1>Hello World {{ nom }} id {{ id }}!</h1>
    <p>Le Hello World est un grand classique en programmation.
        Il signifie énormément, car cela veu dire que vous avez
        réussi à executer le programme pour accomplir una tâche simple:
        afficher ce hello world!
    </p>
    <a href="{{ path('oc_platform_view', {'id': id-1}) }}">link al anuncio {{ id-1 }}</a>
</body>
</html>