{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plataforma-Anuncios</title>
</head>
<body>
    <h1>Este es el anuncio {{ id }}</h1>
    <div>
        {% for message in app.session.flashBag.get('info') %}
        <p>Message flash: {{ message }}</p>
        {% endfor %}
    </div>

</body>
</html>